@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray-violet: hsl(270, 3%, 87%);
  --dark-gray-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100%;
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;

}

main {
  display: flex;
  justify-content: space-between;
}

.imagen {
  width: 100vw;
  height: 100vh;

}